@font-face {
    font-family: 'text';
    src: url("./text.ttf") format("truetype");
}

@font-face {
    font-family: 'code';
    src: url("./code.ttf") format("truetype");
}

@font-face {
    font-family: 'handnotes';
    src: url("./handnotes.ttf") format("truetype");
}

@font-face {
    font-family: 'typewriter';
    src: url("./typewriter.ttf") format("truetype");
}

* {
  line-height: 1.5em;
  margin: 0;
  padding: 0;
  background-color: #f8f8f8;
  color: #222;
}

body {
  font-family: text, monospace;
  width: 99%;
  max-width: 800px;
  margin: 2em auto 0;
  padding: 0 20px;
  display: block;
}

h1, h2, h3 {
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 0.75em;
}

h1 {
  font-size: 1.5em;
}

h2 {
  font-size: 1.25em;
}

h3 {
  font-size: 1.0em;
}

a {
  color: #248;
  font-weight: 600;
  text-decoration: none;
}

a:hover {
  background-color: #9CFF00;
  text-decoration: underline;
}

a:visited {
  color: #248;
}

a.textlink:before {
  content: "⇒ ";
  padding-left: 11px;
}

p.quote {
  font-style: italic;
}

p.quote:before {
  content: "« ";
  padding-left: 2px;
}

p.quote:after {
  content: " »";
  padding-right: 2px;
}

p {
  margin: 0.75em 0 0.75em 0;
  padding: 0 5px;
}

ol {
  margin: 0.75em 0 0.75em 0;
  padding: 0;
}

ul {
  list-style: none;
  padding-right: 23px;
  padding-left: 10px;
  margin: 0.75em 0 0.75em 0;
}

li {
  margin-left: 1em;
  margin-bottom: 0.25em;
}

li:before {
  content: "★";
  padding-right: 5px;
}

img {
  max-width: 100%;
  display: block;
  margin: auto;
  border: 1px solid #9CFF00;
}

pre {
  font-family: code, monospace;
  padding: 0;
  overflow-x: scroll;
  scrollbar-width: none;
  border-left: 2px solid #9CFF00;
  padding-left: 12px; 
}

span.inlinecode {
  font-family: code, monospace;
  filter: invert(1) grayscale(1);
  -webkit-filter: invert(1) grayscale(1);
}
